html {
  font-size: 14px;
}

h1,h2,h3 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lustria-Regular';
  font-weight: 200;
}

.container {
  margin: 0px auto;
}

.headline {
  color: #222;
  font-size: 2em;
  letter-spacing: 1px;
  margin-top: 100px;
  text-align: center;
}

.footer {
  bottom: 0;
  left: 50%;
  margin-bottom: 7px;
  margin-left: -99px;
  position: fixed;
  text-align: center;

}

.footer .email {
  margin-bottom: 7px;
}

.footer a {
  color: #4b6adb;
  text-decoration: none;
}

.social-links {
  margin-left: auto;
  margin-right: auto;
  padding-left: 7px;
}

.logo {
  height: 32px;
  margin-right: 7px;
}

.logo:hover {
  border-radius: 16px;
  box-shadow: 5px 5px 10px 0px rgba(194, 194, 194, 1.0);
  cursor: pointer;
}

.horizontal-rule {
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background: #333;
    border: 0;
    height: 1px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 550px) {
  .headline {
    font-size: 1.6em;
    letter-spacing: 0px;
  }
}

@media screen and (max-width: 400px) {
  .headline {
    font-size: 1.2em;
  }
  .logo {
    height: 24px;
  }
}